<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Employee Promotions</h2>
        <h4 class="oe_slogan">inteslar - Commited to innovation, www.inteslar.com</h4>
        <h3 class="oe_slogan"><b>This module helps you to track promotions applied to employees, it allows you to change employee's job title, manager, contract , salary structure and more, all information will be saved in employee master</b></h3>
    </div>
</section><br/>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Create the promotion</h2>
        <h4 class="oe_slogan">Create the promotion and select the employee record, it will automatically display the current job position, department, coach, manager, contract and salary structure then you can start the promotion process by cliking on start process button</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="to_start.PNG">
        </div>
    </div>
</section><br/>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Choose the new job position, manager, coach, department, contract and salary structure and you can promote the employee by cliking on promote button</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="pending.PNG">
        </div>
    </div>
</section><br/>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">In the promoted state you can see the new position</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="promoted.PNG">
        </div>
    </div>
</section><br/>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">in employee master, you will see all promotions for each employee</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="recorded.PNG">
        </div>
    </div>
</section><br/>


<section class="oe_container oe_dark">
    <div class="oe_row ">
        <div class="oe_slogan text-center">
            <a href="http://www.inteslar.com" target="new">
                <img src="pay008.png">
            </a>
            <br>
            <div class="oe_span12">
            <h2 class="text-center"><a>Commited to innovation</a></h2>
        </div>
            <span>
                <a class="btn btn-primary btn-lg mt8" style="border-radius: 0px; color: rgb(255, 255, 255) !important; position: relative; overflow: hidden;" href="mailto:ali@inteslar.com"><i class="fa fa-envelope"></i> Email </a> <a class="btn btn-primary btn-lg mt8" style="border-radius: 0px; color: rgb(255, 255, 255) !important; position: relative; overflow: hidden;" href="http://inteslar.com/contact-us"><i class="fa fa-check-square"></i> Request Customization </a>
          </span>
        </div>
    </div>
</section>