<section class="oe_container">
    <div class="oe_row oe_spaced">
           <h2 class="oe_slogan" style="color:olive;"><b>Timesheets Sheet for Employee</h2>
<p style="color:olive;"><b>
This app allow your employee to fill Timesheet Sheet - Concept is removed from Odoo 11 Standard so this app allow you to have that feature back again.
          </p>
          <p style="color:CRIMSON;"><b>
                Main Features:
          </p>
          <li><font style="color:olive;">Allow employee to create and fill Timesheet Sheet.</font></li>
          <li><font style="color:olive;">Company settings to set Weekly or Monthly.</font></li>
          <li><font style="color:olive;">Workflow of approval of timesheet.</font></li>
          <li><font style="color:olive;">Submit by employee and Approved by Manager.</font></li>
          <p style="color:CRIMSON;"><b>
                Available Menus:
          </p>
          <li><font style="color:olive;">Timesheets/Timesheet/My Timesheet Sheet</font></li>
          <li><font style="color:olive;">Timesheets/To Approve</font></li>
          <li><font style="color:olive;">Timesheets/To Approve/All Timesheet Sheets</font></li>
          <li><font style="color:olive;">Timesheets/To Approve/Timesheets Sheet Approve</font></li>
    </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h3 class="oe_slogan"><b style="color:CRIMSON;">Company Timesheet Settings</b></h3>
       <div class="oe_demo oe_screenshot">
           <img src="s7.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h3 class="oe_slogan"><b style="color:CRIMSON;">My Timesheets Sheet - Employee Login</b></h3>
       <div class="oe_demo oe_screenshot">
           <img src="s1.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h3 class="oe_slogan"><b style="color:CRIMSON;">Timesheets Sheet to Approve - Manager Login</b></h3>
       <div class="oe_demo oe_screenshot">
           <img src="s6.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h3 class="oe_slogan"><b style="color:CRIMSON;">To Approve Timesheets - Manager Login</b></h3>
       <div class="oe_demo oe_screenshot">
           <img src="s2.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h3 class="oe_slogan"><b style="color:CRIMSON;">Employee Form Button - Timesheets Sheet</b></h3>
       <div class="oe_demo oe_screenshot">
           <img src="s5.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h3 class="oe_slogan"><b style="color:CRIMSON;">Timesheet PDF Report</b></h3>
       <div class="oe_demo oe_screenshot">
           <img src="s3.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h3 class="oe_slogan"><b style="color:CRIMSON;">PDF Report</b></h3>
       <div class="oe_demo oe_screenshot">
           <img src="s4.png">
       </div>
   </div>
</section>
<section class="oe_container" >
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">
            <strong><font style="color:#2dd280;" class="text-epsilon">Contact / Support<br/></font></strong>
            <strong><font style="color:crimson" class="text-epsilon">Introducing</font>
            <font style="color:crimson;" class="text-epsilon">Probuse Consulting Services Pvt. Ltd.</font></strong>
          </h2>
       <div class="oe_span6">
           <div class="mt32 col-md-10">
           <div class="oe_picture" style="margin: 25px 10%;">
               <a  target='new' href="http://www.probuse.com/">
                   <img src="logo.png">
               </a>
           </div>
           <p class="oe_mt32">
               <font style="color:crimson;">If you need any help or want more additional features, you may contact us through:</font><br/>
               <font style="color:crimson;">Email: <a href="contact@probuse.com">contact@probuse.com</a> <br/>
               <font style="color:crimson;">Website: </font><a href="http://www.probuse.com/" target='new'><u>www.probuse.com</u></a> <br/>
               <font style="color:crimson;">Skype: mustufa_probuse</font><br/>
           </p>
           <p>
                <h2>
                    <a href="https://www.facebook.com/probusecs" target="new">
                      <i class="fa fa-facebook-square" style="font-size:38px;"></i>
                    </a>
                    <a href="https://twitter.com/mustufa_odoo" target="new">
                      <i class="fa fa-twitter" style="font-size:38px;"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/mustufa-rangwala-odoo-openerp-0a46777/" target="new">
                      <i class="fa fa-linkedin" style="font-size:38px;"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UCHlyoC4khP44M1cOCJXo2FQ" target="new">
                      <i class="fa fa-youtube-play" style="font-size:38px;"></i>
                    </a>
                    <a href="https://plus.google.com/u/0/113284573788891837715/posts" target="new" rel="publisher">
                      <i class="fa fa-google-plus-square" style="font-size:38px;"></i>
                    </a>
              </h2>
            </p>
           </div>
      </div>
      <div class="mt32 col-md-5">
           <p style="text-align: justify; ">
            <font class="text-epsilon" style="color:crimson;">Probuse Consulting Service Pvt Ltd is an Software and Web development specialist which offers complete business application together. We are well experienced to provide a face for your business on the software and Internet level.</font>
          </p>
          <p style="text-align: justify;">
            <font class="text-epsilon" style="color:crimson">Probuse Consulting Service Pvt Ltd is a specialist in Odoo/OpenERP services and could give your business open source hand to drive.</font>
          </p>
            <h3 class="o_animate o_anim_bounce_in" style="text-align: left; animation-play-state: paused;">
                <font style="font-size: 18px;color:#ff8000;" class="text-epsilon"><strong>Our Services</strong></font>
            </h3>
            <ul style="list-style-type:square">
                <a href="http://www.probuse.com/page/odoo-implementation" target="new"><li list-style-type: "*";><p style="text-align: left; color:crimson;">Odoo Implementation</p></a></li>
                <a href="http://www.probuse.com/page/odoo-support" target="new"><li><p style="text-align: left; color:crimson;">Odoo Support</p></a></li>
                <a href="http://www.probuse.com/page/odoo-customization" target="new"><li><p style="text-align: left; color:crimson;">Odoo Customization</p></li></a>
                <a href="http://www.probuse.com/page/odoo-migration" target="new"><li><p style="text-align: left; color:crimson;">Odoo Migration</p></a></li>
                <a href="http://www.probuse.com/page/odoo-training" target="new"><li><p style="text-align: left; color:crimson;">Odoo Training</p></a></li>
            </ul>
           </p>
       </div>
   </div>
</section>

