<section class="oe_container">
	<div class="oe_row oe_spaced">
		<h2 class="oe_slogan">HR Employee Dashboard</h2>
		<h4 class="oe_slogan" style="font-size: 23px;"><a href="https://www.codersfort.com">CodersFort</a></h4>
		<div>
            <p style="text-align: center;">This module helps you to Show Dashboard on Employees Module. Dashboard is restricted for Managers,
            Dashboard will have Gender Details, Top 5 Nationality Details, Leaves to Approve, Leave Allocations to Approve, Age Demography, Department Count, Todays Attendance and Positions Count Details.
            </p>
        </div>
	</div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">You can see the Dashboard if you have Employee Manager Role</h4>
        <div class="oe_span12">
            <p class='oe_mt32'>
                Employees -> Dashboard <br/>
            </p>
        </div>
        <div class="oe_span12">
            <div class="oe_row_img oe_centered">
                <img style="border:10px solid white;" class="oe_picture oe_screenshot" src="1.png">
            </div>
        </div>
</section>

<section class="oe_container oe_dark">
        <h3 class="oe_slogan">Help and Support</h3>
        <div class="oe_slogan">
            <a class="btn btn-primary btn-lg mt8" href="mailto:ananthu.krishna@gmail.com">
                <i class="fa fa-envelope"></i> Email 
            </a> 
            <a class="btn btn-primary btn-lg mt8" href="http://www.codersfort.com">
                <i class="fa fa-phone"></i> Contact Us 
            </a>

            <a class="btn btn-primary btn-lg mt8"  href="http://www.codersfort.com/contact-us/">
                <i class="fa fa-check-square"></i> Request Customization </a>
        </div>        
</section>