<section class="oe_container lead bi_title_box">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan bi_title" style="color:#5082c4;">
                <b>Expense Advance Request - Employee</b>
            </h2>
            <p class="oe_slogan">
        This app allows your employees to create advance request for expenses. This app will work with multi currency.
            </p>
        </div>
    </div>
</section>

<section class="oe_container lead bi_features">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h3 class="oe_slogan" style="opacity:1;background: linear-gradient(to right, #86bcf2 0%, #e2f2f8 100%);padding: 10px 0px;color: #201111;letter-spacing: 0.2em;text-transform: uppercase;text-shadow: 0.1em .04em 0.1em #7d8c88;"><b>Features</b></h3>
        </div>
        <div class="oe_span6">
            
            <div class="row mt32 mb32">
                <div class="col-md-3 text-center">
                    <img class="img img-responsive" style="max-width:100%;" src="features/expense1.png"/>
                </div>
                <div class="col-md-9">
                    <h4><b>Maintains advance expense request</b></h4>
                    <span class="oe_slogan">App allows the user to drop a request about expenses.</span>
                </div>
            </div>

            <div class="row mt32 mb32">
                <div class="col-md-3 text-center">
                    <img class="img img-responsive" style="max-width:100%;" src="features/expense2.png"/>
                </div>
                <div class="col-md-9">
                    <h4><b>Offers a request of approval to manager</b></h4>
                    <span class="oe_slogan">User needs to fill up all necessary details about expense and asks for approval to manager.</span>
                </div>
            </div>  

        </div>
        <div class="oe_span6">
            
            <div class="row mt32 mb32">
                <div class="col-md-3 text-center">
                    <img class="img img-responsive" style="max-width:100%;" src="features/expense3.png"/>
                </div>
                <div class="col-md-9">
                    <h4><b>Allows manager to pay all expenses.</b></h4>
                    <span class="oe_slogan">Allows user to get paid with all expenses and journel gets created.</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 text-center">
                    <img class="img img-responsive" style="max-width:100%;" src="features/expense4.png"/>
                </div>
                <div class="col-md-9">
                    <h4><b>Prints report about the all the expense.</b></h4>
                    <span class="oe_slogan">Allows user to print a report about all the expenses paid and unpaid.</span>
                </div>
            </div>
        </div>
    </div>
</section>

           
<section class="oe_container lead mt64">
    <div class="oe_row oe_spaced">
        <div class="oe_slogan oe_spaced text-center">
            <a class="btn mt8 mr8" title="Website" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="https://browseinfo.in/contact-us/" target="_blank"> Demo Request </a>
            <a class="btn mt8 ml8" title="Email on Support" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="https://www.youtube.com/watch?v=18MNZMwmmFM&feature=youtu.be" target="_blank"> Video Tutorial</a>
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
            <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Create an expense request.</p>
            <p class="oe_slogan">Create an expense request with necessary details and confirm it.</p>
            <br/>
            <img class="img-border img-responsive thumbnail mt16 mb16" style="border: 3px solid black;" src="ex1.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
            <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Create an approval request to the manager.</p>
            <br/>

            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="ex2.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
        <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Wait for approval of manager and payment approval from manager.</p>
            <br/>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="ex3.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
        <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">After payment a journel smart button is seen.</p>
            <br/>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="ex4.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
        <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Journel entry can be easily seen.</p>
            <br/>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="ex5.png">
        </div>
    </div>
</section>


<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
        <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Allows user to print report about the expenses.</p>
            <br/>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="pdfae.png">
             <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="pdfae2.png">
             
        </div>
    </div>
</section>


<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <p class="oe_slogan" style="font-size: 35px;color: #5082c4;font-style: italic;font-weight: bold;"><b>Apps May You Like</b></p>
        </div>
        <div class="oe_span4 mt8 mb8" style="padding: 0px 5px;">
            <a href="https://apps.odoo.com/apps/modules/12.0/bi_hr_timesheet_sheet/">
                <img class="img img-responsive" src="related/hr_timesheet.png" style="width: 100%;"/>
            </a>
        </div>
        <div class="oe_span4 mt8 mb8" style="padding: 0px 5px;">
            <a href="https://apps.odoo.com/apps/modules/12.0/bi_mass_payslip_by_email/">
                <img class="img img-responsive" src="related/hr_payslip.png" style="width: 100%;"/>
            </a>
        </div>
        <div class="oe_span4 mt8 mb8" style="padding: 0px 5px;">
            <a href="https://apps.odoo.com/apps/modules/12.0/bi_hr_payroll_timesheet/">
                <img class="img img-responsive" src="related/hr_payroll.png" style="width: 100%;"/>
            </a>
        </div>
        <div class="oe_span4 mt8 mb8" style="padding: 0px 5px;">
            <a href="https://apps.odoo.com/apps/modules/12.0/bi_job_inspection/">
                <img class="img img-responsive" src="related/job_inspection.png" style="width: 100%;"/>
            </a>
        </div>
        <div class="oe_span4 mt8 mb8" style="padding: 0px 5px;">
            <a href="https://apps.odoo.com/apps/modules/12.0/bi_job_costing_progress_billing/">
                <img class="img img-responsive" src="related/job_costing.png" style="width: 100%;"/>
            </a>
        </div>
        <div class="oe_span4 mt8 mb8" style="padding: 0px 5px;">
            <a href="https://apps.odoo.com/apps/modules/12.0/bi_job_cost_and_estimate_relation/">
                <img class="img img-responsive" src="related/job_cost.png" style="width: 100%;"/>
            </a>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <p class="oe_slogan" style="font-size: 35px;color: #5082c4;font-style: italic;font-weight: bold;"><b>Most Demanded Apps</b></p>
        </div>
        <div class="oe_span4 mt8 mb8" style="padding: 0px 5px;">
            <a href="https://apps.odoo.com/apps/modules/12.0/pos_orders_all/">
                <img class="img img-responsive" src="demanded/all_in_one_pos.png" style="width: 100%;"/>
            </a>
        </div>
        <div class="oe_span4 mt8 mb8" style="padding: 0px 5px;">
            <a href="https://apps.odoo.com/apps/modules/12.0/bi_customer_overdue_statement/">
                <img class="img img-responsive" src="demanded/customer_overdue.png" style="width: 100%;"/>
            </a>
        </div>
        <div class="oe_span4 mt8 mb8" style="padding: 0px 5px;">
            <a href="https://apps.odoo.com/apps/modules/12.0/generic_excel_reports/">
                <img class="img img-responsive" src="demanded/generic_excel_report.png" style="width: 100%;"/>
            </a>
        </div>
        <div class="oe_span4 mt8 mb8" style="padding: 0px 5px;">
            <a href="https://apps.odoo.com/apps/modules/12.0/sales_commission_generic/">
                <img class="img img-responsive" src="demanded/sale_commision.png" style="width: 100%;"/>
            </a>
        </div>
        <div class="oe_span4 mt8 mb8" style="padding: 0px 5px;">
            <a href="https://apps.odoo.com/apps/modules/12.0/bi_generic_import/">
                <img class="img img-responsive" src="demanded/bi_generic_import.png" style="width: 100%;"/>
            </a>
        </div>
        <div class="oe_span4 mt8 mb8" style="padding: 0px 5px;">
            <a href="https://apps.odoo.com/apps/modules/12.0/branch/">
                <img class="img img-responsive" src="demanded/branch.png" style="width: 100%;"/>
            </a>
        </div>
        
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Free Support</h2>
            <h3 class="oe_slogan" style="font-size: 21px; color: #000000 !important;">You will get 90 Days free support incase any bugs or issue (Except data recovery).</h3>
            <p class="oe_slogan" style="font-size: 18px;">
		At BrowseInfo we offer  end to end solution for Odoo services. Which includes analysis &amp; consultation on the workflows and integration part.  Please note that You're not allowed to distribute this module after purchase! Incase of any question regarding this module feel free to email us on <a href="mailto:sales@browseinfo.in">sales@browseinfo.in</a> or raise a ticket on support.
            </p>
        </div>
    </div>
</section>

<section class="oe_container lead">
	<div class="oe_row oe_spaced">
		<div class="oe_span12">
			<div class="img img-responsive text-center">
                <a href="http://www.browseinfo.in" target="new">
                    <img src="bi_logo.png">
                </a>
			</div>
		</div>
		<div class="oe_slogan oe_spaced text-center">
            <a class="btn mt8" title="Website" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="https://browseinfo.in/" target="_blank"> Website </a>
            <a class="btn mt8" title="Email on Support" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="mailto:sales@browseinfo.in" target="_blank">Email on Support</a>
            <a class="btn mt8" title="Request New Features now !" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="https://browseinfo.in/our-services/" target="_blank">Services</a>
        </div>
	</div>
</section>



