.dash-row0 {
	margin-top: 15px;
}
.dash-row1 {
	margin-top: 15px;
}
.dash-row2 {
	margin-top: 15px;
}
.dash-unit {
    margin-bottom: 30px;
    padding-bottom: 10px;
    border: 1px solid #383737;
    background-image: url(../img/sep-half.png);
    background-color: #3d3d3d;
    color: white;
    height: 320px;
}
.dtitle {
    font-size: 11px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 8px;
    padding: 5px;
	border-bottom: 1px dashed #151515;
    margin-top: 3px;
}
.dash-thumbnail {
    border: 0px;
    text-align: center;
    -webkit-box-shadow: 0px;
    -moz-box-shadow: 0px;
    box-shadow: 0px;
    background: none;
	text-align: center;
	margin-top: 40px;
	
}
.dash-thumbnail img{
	border-radius: 50%;
}
.dash-name-title {
	padding-bottom: 10px;
    padding-top: 10px;
}
.dash-name-title h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 2px;
    letter-spacing: 0px;
    color: #ffffff;
    padding-top: 10px;
    padding-left: 5px;
    margin-top: 2px;
    text-align: center;
}
.dash-name-title h3 {
    font-weight: 300;
    font-size: 15px;
    line-height: 2px;
    letter-spacing: 0px;
    color: #ffffff;
    padding-top: 15px;
    padding-left: 5px;
    margin-top: 2px;
    text-align: center;
}
.info-user {
    text-align: center;
    font-size: 24px;
	color: #7C7BAD;
    padding-top: 15px;
    display: none;
}
.info-user span{
    padding: 5px 5px 5px 5px;
    position: relative;
}

.half-unit {
    margin-bottom: 30px;
    padding-bottom: 4px;
    border: 1px solid #383737;
    background-image: url(../img/sep-half.png);
    background-color: #3d3d3d;
    color: white;
    height: 145px;
}

.dash-row3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
	flex-wrap: wrap;
	margin-right: 0px !important;
    margin-left: 0px !important;
}
.dash-row3 table{
	border: transparent !important;
	font-size: 12px;
}
.dash-row3 table thead tr th{
	border: 0px !important;
	background-color: #8e5ea2;
}
.dash-row3 table tbody td{
	border-bottom: 1px dashed #151515;
	border-top: 1px dashed #151515;
}

.count {
    text-align: center;
	margin-top: 30px;
	font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    vertical-align: middle;
}
.dash-row4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
	flex-wrap: wrap;
	margin-right: 0px !important;
	margin-left: 0px !important;
	margin-top: 10px;
	font-size: 25px;
}
.dash-row4  .fa-fw {
	font-size: 30px;
}
.info-user-lp{
	text-align: center;
	font-size: 12px;
	margin-top: 0px !important;
	
}
.info-user-lp .innerbox{
	width: 48%;
    display: block;
    float: left;
    border: 1px dashed #151515;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 1%;
    margin-right: 1%;
}
.info-user-lp .innerbox .fa-fw {
    text-align: left;
}
.btncustom {
    background-color: #ffffff;
}
.btncustom:hover{
    background-color:#7c7bad;
    color: #ffffff;
}