<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:olive;"><strong>Job Costing / Contracting / Construction Management / Progress Billing / Estimates - Bundle</strong></h2>
        <p class="oe_mt32" style="color:olive;">
            This module contains bundle of Odoo for Job Costing / Contracting / Construction Management / Progress Billing / Estimates apps by Probuse.
<br> You can purchase this bundle or you can purchase individual apps as well. Contact us if you have any questions.
<p style="color:crimson;"> <b>SUPPORTING ODOO COMMUNITY EDITION AS WELL AS ODOO ENTERPRISE EDITION.</b>
            <p style="color:crimson;"><b>Available Features (Make sure you purchase all depends apps): </b></p>
            <ul style="color:olive;">
                <li>
                    <a target='new' href="http://www.odoo.com/apps/modules/11.0/odoo_job_costing_management">Project Job Costing (Contracting) and Job Cost Sheet
                    </a>
                </li>
                <li>
                    <a target='new' href="http://www.odoo.com/apps/modules/11.0/odoo_customer_progress_billing">Progress Billing to Customer
                    </a>
                </li>
                <li>
                    <a target='new' href="http://www.odoo.com/apps/modules/11.0/odoo_job_costing_progress_billing">Customer Invoice from Job Cost Sheet
                    </a>
                </li>
                <li>
                    <a target='new' href="http://www.odoo.com/apps/modules/11.0/job_cost_estimate_customer">Estimation for Jobs - Material / Labour / Overheads
                    </a>
                </li>
                <li>
                    <a target='new' href="http://www.odoo.com/apps/modules/11.0/job_cost_and_estimate_relation">Sales Estimate Create from Job Cost Sheet
                    </a>
                </li>
                <li>
                    <a target='new' href="https://apps.odoo.com/apps/modules/11.0/job_workorder_website_request/">Website Job/Work Order Form and Portal
                    </a>
                </li>
                 <li>
                    <a target='new' href="https://apps.odoo.com/apps/modules/11.0/material_requisition_cost_sheet/">Material Purchase Requisition and Cost Sheet Integration
                    </a>
                </li>
            </ul>
        </p>
    </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
           <h2 class="oe_slogan" style="color:olive;"><b>Project Job Costing (Contracting) and Job Cost Sheet</h2>
           <p>
           <h2>
               <div class="oe_picture">
                   <a target='new' href="http:/www.odoo.com/apps/modules/10.0/odoo_job_costing_management/">
                       <img src="f1.jpg" style="height: 350px; width: 600px;">
                   </a>
               </div>
               <a href="http://www.odoo.com/apps/modules/10.0/odoo_job_costing_management/" target="new">
                    Project Job Costing (Contracting) and Job Cost Sheet
               </a>
           </h2>
        </p>
        <p class="oe_mt32" style="color:olive;">
                This module allow you to manager any type of project/contracts with its job costing (contracting) and job cost sheets.
        </p>
        <p style="color:CRIMSON;">
        Main Features:
        </p>
        <p style="color:olive;">
        - Allow you to create job cost sheets for your projects/contract.<br>
        - Allow you to have Project/Contract with Job orders.<br>
        - Allow you to create Project/Job Notes.<br>
        - Allow you to create Job Order Notes.<br>
        - Allow you to manage material requision for Job orders.<br>
        - Allow you to set BOQ for Jobs.<br>
        - Allow you to configure/setup Material, Labour and Overheads on jobs cost sheet where you can plan for your different jobs of your project/contract.<br>
        - Allow you to have multiple job cost sheet for single project/job/contract.<br>
        - PDF reports for Job Cost Sheet and Job Orders.<br>
        - Allow you to setup project/contract budgets based on analytic accounts.<br>
        - Job Types setup for different types of job you are doing for your customers.<br>
        - Custom job stages for your job orders.<br>
        - Allow you to manager jobs issues for your project/contract/jobs.<br>
        - Allow you to setup your subcontractors.<br>
        - Allow your employee/workers to fill timesheet based on job they are doing and allow to select job cost center on timesheet lines/activities.<br>
        - Materials Requisition / BOQ request and manage. This also allow on the fly creating purchase orders from Materials Requisition / BOQ.<br>
        - Unique sequence for job cost sheets.<br>
        - Create subtask/sub job orders for main job order/task.<br>
        - Manage material planning and consumption per job order (Manually).<br>
        - Gives complete idea about your planned cost and actual cost since system allow you to setup planned amount for material, labours, overhead on job cost sheet and same time show actual amounts showing on cost sheet automatically. This actual amount is based on linking purchase order, vendor bills, timesheets where system allow you to select Job cost center and Cost line on Purchase order, Vendor bills and Timesheets.<br>
        - Main feature of this actual cost is that if you do not select Cost line on Purchase order, Vendor bills and Timesheets then system will crete/add new cost sheet line under that job cost center on confirmation of document.<br>
        - For more details: See <b>Video</b> in live preview<br>
        </p>
        <p style="color:CRIMSON;">
        Highlighted Steps:</p>
        <p style="color:green;">
        Create Project/Contract -> Create Job Orders -> Create Multiple Job Cost Sheets under Same Project -> Plan your materials, labour and overhead for each Jobs -> View of Planned and Actual Amount/Qty by each Cost Sheet Lines (Material, Labour and Overheads) -> Allow your purchase, accounting and HR department to select cost center (cost sheet) and cost center line (cost sheet line) to encode for expenses and labour works. -> Create Job Order Issues -> Create Material Requision Request -> Prepare Notes/ToDo lists for Projects and Jobs. -> .....
        </p>
            <p style="color:CRIMSON;"><b>Menus Available:</b>
                <ul style="color:olive;"><i>
                  <li>Jobs
                    <ul><li>Job Costs
                            <ul><li>Job Cost Sheets</li></ul>
                        </li>
                        <li>Projects
                            <ul><li>Projects</li>
                                <li>Project Budgets</li>
                                <li>Project Notes</li>
                            </ul>
                        </li>
                        <li>Job Orders
                            <ul>
                                <li>Job Orders</li>
                                <li>Job Notes</li>
                                <li>Project Issues</li>
                            </ul>
                        </li>
                        <li>Sub Contractors
                            <ul>
                                <li>Sub Contractors</li>
                            </ul>
                        </li>
                        <li>Materials / BOQ
                            <ul>
                                <li>Materials</li>
                                <li>Materials Requisition / BOQ</li>
                            </ul>
                        </li>
                        <li>Configuration
                            <ul>
                                <li>Stages</li>
                                <li>Job Types</li>
                            </ul>
                        </li>
                        
                    </ul>
                  </li>
                 </ul></p>
                <p style="color:#ff8000;">
                   <strong>For More Details:
                       <a href="http://www.odoo.com/apps/modules/11.0/odoo_job_costing_management" target="new">
                            http://www.odoo.com/apps/modules/11.0/odoo_job_costing_management
                       </a>
                   </strong>
                </p>
                 <p>
                <hr style="border-top:1px solid #5f656d;height:1px;margin:16px 0;"></hr>
            </p>
   </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
       <h2 class="oe_slogan" style="color:olive;">Estimation for Jobs - Material / Labour / Overheads</h2>
       <p>
          <h2>
                <div class="oe_picture">
                   <a  target='new' href="http:/www.odoo.com/apps/modules/10.0/job_cost_estimate_customer/">
                       <img src="f2new.jpeg" style="height: 350px; width: 600px;">
                   </a>
               </div>
               <a href="http://www.odoo.com/apps/modules/10.0/job_cost_estimate_customer/" target="new">
                    Estimation for Jobs - Material / Labour / Overheads
               </a>
          </h2>
        </p>
        <div class="container">
            <div class="oe_styling_v8">
                <section class="oe_container">
                    <div class="oe_row oe_spaced">
                       <p class="oe_mt32" style="color:olive">
                            Send Estimation to your Customers for materials, labour, overheads details in job estimation.
                       </p>
                       <p style="color:CRIMSON;">
                           <b>
                              Main Features:<br>
                           </b>
                       </p>
                        <p style="color:olive;">
                            - Allow you to create Job Estimation(s)<br>
                            - You can add Material Lines on Job Estimation(s).<br>
                            - You can add Labour Lines on Job Estimation(s).<br>
                            - You can add Overhead Lines on Job Estimation(s).<br>
                            - Project selection on Estimation. (Optional).<br>
                            - Allow you to create Quotation from the Job Estimation.<br>
                            - Allow you to send email to the customer for job Estimation(s).<br>
                            - For more details please see below details and Video<br>
                       </p>
                       <p style="color:CRIMSON;"><b>Menus Available:</b></p>
                       <ul style="color:olive;"><i>
                              <li>Sales
                                <ul><li>Sales
                                        <ul><li>Job Estimates</li></ul>
                                </li></ul>
                              </li>
                             </i>
                      </ul>
                      <p class="oe_mt32" style="color:olive;">
                            Note: You can check detail screenshots below before buy and make sure it full fill your requirements. For support/configuration and adding new features you can contact us in future - but you have to pay extra cost for that.
                      </p>
                      </div>
             </div>
           <p style="color:#ff8000;">
               <strong>For More Details:
                   <a href="http://www.odoo.com/apps/modules/11.0/job_cost_estimate_customer" target="new">
                        http://www.odoo.com/apps/modules/11.0/job_cost_estimate_customer
                   </a>
               </strong>
            </p>
            <p>
               <hr style="border-top:1px solid #5f656d;height:1px;margin:16px 0;"></hr>
            </p>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
       <h2 class="oe_slogan" style="color:olive;">Sales Estimate Create from Job Cost Sheet</h2>
       <p>
          <h2>
                <div class="oe_picture">
                   <a  target='new' href="https:/www.odoo.com/apps/modules/10.0/job_cost_and_estimate_relation/">
                       <img src="f3.jpeg" style="height: 350px; width: 600px;">
                   </a>
               </div>
               <a href="http://www.odoo.com/apps/modules/10.0/job_cost_and_estimate_relation/" target="new">
                    Progress Billing to Customer
               </a>
          </h2>
        </p>
        <div class="oe_row oe_spaced">
           <p class="oe_mt32" style="color:olive">
                This module allow you to create Job Estimate from Job Cost Sheet.
           </p>
           <p style="color:CRIMSON;">
                <b>
                  Main Features:<br>
                </b>
           </p>
           <p style="color:olive;">
                    - Allow you to create Job Estimation from Job Cost Sheet<br>
                    - For more details please see below details and Video<br>
           </p>
        </div>
        <p style="color:#ff8000;">
           <strong>For More Details:
               <a href="http://www.odoo.com/apps/modules/11.0/job_cost_and_estimate_relation" target="new">
                    http://www.odoo.com/apps/modules/11.0/job_cost_and_estimate_relation
               </a>
           </strong>
        </p>
        <p>
           <hr style="border-top:1px solid #5f656d;height:1px;margin:16px 0;"></hr>
        </p>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
       <h2 class="oe_slogan" style="color:olive;">Create Progress Billing and Send to Your Customer</h2>
       <p>
          <h2>
                <div class="oe_picture">
                   <a  target='new' href="https:/www.odoo.com/apps/modules/10.0/odoo_customer_progress_billing/">
                       <img src="f2.jpeg" style="height: 350px; width: 600px;">
                   </a>
               </div>
               <a href="http://www.odoo.com/apps/modules/10.0/odoo_customer_progress_billing/" target="new">
                    Create Progress Billing and Send to Your Customer
               </a>
          </h2>
        </p>
        <div class="oe_row oe_spaced">
            <h2 class="oe_slogan" style="color:olive"><b>Create Progress Billing and Send to Your Customer</b></h2> 
            <p style="color:olive">Module allow you to create and print progress billing.</p>
            <p class="oe_mt32">
            </p><p style="color:crimson;"><b>Main Features:<br>
            </b></p><p style="color:olive;">- Allow you to set Total Progress Billing Amount on the Analytic Account / Project.</p>
            <p style="color:olive;">- Added Progress Billing Title on Invoice Form and Selection of Project and Auto compuate Progress Billings Amounts.</p>
            <p style="color:olive;">- Allow to print progress billing report so you can send to your customer.</p>
       </div>
    </div>
    <p style="color:#ff8000;">
       <strong>For More Details:
           <a href="http://www.odoo.com/apps/modules/11.0/odoo_customer_progress_billing" target="new">
                http://www.odoo.com/apps/modules/11.0/odoo_customer_progress_billing
           </a>
       </strong>
    </p>
    <p>
       <hr style="border-top:1px solid #5f656d;height:1px;margin:16px 0;"></hr>
    </p>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
       <h2 class="oe_slogan" style="color:olive;">Customer Invoice from Job Cost Sheet</h2>
       <p>
          <h2>
                <div class="oe_picture">
                   <a  target='new' href="https:/www.odoo.com/apps/modules/10.0/odoo_job_costing_progress_billing/">
                       <img src="f5.jpg" style="height: 350px; width: 600px;">
                   </a>
               </div>
               <a href="http://www.odoo.com/apps/modules/11.0/odoo_job_costing_progress_billing/" target="new">
                    Customer Invoice from Job Cost Sheet
               </a>
          </h2>
        </p>
       <div class="oe_row oe_spaced">
           <p class="oe_mt32" style="color:olive;">
                This module allow you to create customer invoice directly from Job Cost Sheet.<br>
           </p>
            <p style="color:olive;"> <b>Features:</b><br>
            - Allow you to create customer invoice from job cost sheet.<br>
            - Allow you to select option to take consideration of customer invoice qty. (Based on Actual Purchase Qty, Based On Actual Vendor Bill Qty, &gt;Based Manual Invoice).<br>
            - Allow you to have option on wizard to create invoice where you can choose whether you want to raise invoice for material, labour, overheads.
            - Auto compute customer invoiced qty. That means you can run create customer invoice wizard as manytime from job cost sheet and it won't consider qty which has been already invoiced to your customer. So it dynamically maintain hisotry of already invoiced qty for all three tabs (material, labour, overheads). Every time you run wizard it will only consider uninvoiced qty only.<br>
            - You can view all created invoices for that job cost sheet using smart button.<br>
            - For more please see video.<br>
            </p>
       </div>
       <div class="oe_row oe_spaced">
            <h2 class="oe_slogan"><b style="color:CRIMSON;">Job Cost Sheet Form- Customer Invoice Billable Method</b></h2>
            <p style="color:crimson;">Option 1 =&gt; Customer Invoice Billable Method is <b>Based on Actual Purchase Qty</b>.</p> 
            <p style="color:olive;">-&gt; Based on Actual Purchased Qty Values on Material from Actual Purchase Qty, Labour from Actual Timesheet Hours, Overhead from Actual Purchased Qty. Actual purchased qty will be consider to raise customer invoice.</p>
            <p style="color:crimson;">Option 2 =&gt; Customer Invoice Billable Method is <b>Based On Actual Vendor Bill Qty</b>.</p> 
            <p style="color:olive;">--&gt; Based On Actual Vendor Billed Qty Take the Values on Material from Actual Vendor Bill Qty, Labour from Actual Timesheet Hours, Overhead from Actual Vendor Billed Qty. Actual vendor billed qty will be consider to raise customer invoice.</p>
            <p style="color:crimson;">Option 3 =&gt;Customer Invoice Billable Method is <b>Based Manual Invoice</b>.</p> 
            <p style="color:olive;">--&gt;Based On Manual Invoice Take the Values on Material from Based On Manual Invoice, Labour from Actual Timesheet Hours, Overhead from Based On Manual Invoice. You have to enter invoice qty manually on material, labour, timesheet which will be consider by customer invoice creation.</p>
       </div>
        <p style="color:#ff8000;">
           <strong>For More Details:
               <a href="http://www.odoo.com/apps/modules/11.0/odoo_job_costing_progress_billing" target="new">
                    http://www.odoo.com/apps/modules/11.0/odoo_job_costing_progress_billing
               </a>
           </strong>
        </p>
        <p>
            <hr style="border-top:1px solid #5f656d;height:1px;margin:16px 0;"></hr>
        </p>
    </div>
</section>


<section class="oe_container">
   <div class="oe_row oe_spaced">
           <h2 class="oe_slogan" style="color:olive;"><b>Website Job/Work Order Form and Portal</h2>
           <p class="oe_mt32" style="color:olive;">
This module allow your customer/visitor to create job order or work order from your website.
        </p>
<p style="color:CRIMSON;">
Main Features:
</p>
<p style="color:olive;">
- Anyone (Customers/Visitor/Internal Employees) can create job order or work order from your website.<br>
- Customer can have portal in My Account to view and print job order they have created.<br>
- Job order / Work order linked with Project so if they fill Project code [optional] then job order will be linked to Project.<br>
- Instance notification to customer by email when job order created in system.<br>
</p>
 <p style="color:#ff8000;">
           <strong>For More Details:
               <a href="https://apps.odoo.com/apps/modules/11.0/job_workorder_website_request/" target="new">
                    https://apps.odoo.com/apps/modules/11.0/job_workorder_website_request/
               </a>
           </strong>
        </p>
 
   </div>
</section>


<section class="oe_container">
   <div class="oe_row oe_spaced">
           <h2 class="oe_slogan" style="color:olive;"><b>Material Purchase Requisition and Cost Sheet Integration</h2>
           <p class="oe_mt32" style="color:olive;">
This app allow to integration between job cost sheet and material purchase requisition.

        </p>
 
 <p style="color:#ff8000;">
           <strong>For More Details:
               <a href="https://apps.odoo.com/apps/modules/11.0/material_requisition_cost_sheet/" target="new">
                    https://apps.odoo.com/apps/modules/11.0/material_requisition_cost_sheet/
               </a>
           </strong>
        </p>
 
   </div>
</section>





<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">
            <strong><font style="color:#2dd280;" class="text-epsilon">Contact / Support<br/></font></strong>
            <strong>
                <font style="color:crimson;" class="text-epsilon">Introducing</font>
                <font style="color:crimson;" class="text-epsilon">Probuse Consulting Services Pvt. Ltd.</font>
            </strong>
        </h2>
        <div class="oe_span6">
           <div class="mt32 col-md-10">
               <div class="oe_picture" style="margin: 25px 10%;">
                   <a href="http://www.probuse.com/" target='new'>
                       <img src="logo.png">
                   </a>
               </div>
               <p class="oe_mt32">
                   <font style="color:crimson;">If you need any help or want more additional features, you may contact us through:</font><br/>
                   <font style="color:crimson;">Email: <a href="contact@probuse.com">contact@probuse.com</a> <br/>
                   <font style="color:crimson;">Website: </font><a href="http://www.probuse.com/" target='new'><u>www.probuse.com</u></a> <br/>
                   <font style="color:crimson;">Skype: mustufa_probuse</font><br/>
               </p>
               <p>
                    <h2>
                        <a href="https://www.facebook.com/probusecs" target="new">
                          <i class="fa fa-facebook-square" style="font-size:38px;"></i>
                        </a>
                        <a href="https://twitter.com/mustufa_odoo" target="new">
                          <i class="fa fa-twitter" style="font-size:38px;"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/mustufa-rangwala-odoo-openerp-0a46777/" target="new">
                          <i class="fa fa-linkedin" style="font-size:38px;"></i>
                        </a>
                        <a href="https://www.youtube.com/channel/UCHlyoC4khP44M1cOCJXo2FQ" target="new">
                          <i class="fa fa-youtube-play" style="font-size:38px;"></i>
                        </a>
                        <a href="https://plus.google.com/u/0/113284573788891837715/posts" target="new" rel="publisher">
                          <i class="fa fa-google-plus-square" style="font-size:38px;"></i>
                        </a>
                  </h2>
                </p>
           </div>
        </div>
        <div class="mt32 col-md-5">
              <p style="text-align: justify;">
                    <font class="text-epsilon" style="color:crimson;">Probuse Consulting Service Pvt Ltd is an Software and Web development specialist which offers complete business application together. We are well experienced to provide a face for your business on the software and Internet level.</font>
              </p>
              <p style="text-align: justify;">
                <font class="text-epsilon" style="color:crimson">Probuse Consulting Service Pvt Ltd is a specialist in Odoo/OpenERP services and could give your business open source hand to drive.</font>
              </p>
              <h3 class="o_animate o_anim_bounce_in" style="text-align: left; animation-play-state: paused;">
                    <font style="font-size: 18px;color:#ff8000;" class="text-epsilon"><strong>Our Services</strong></font>
              </h3>
              <ul style="list-style-type:square">
                    <a href="http://www.probuse.com/page/odoo-implementation" target="new"><li list-style-type: "*";><p style="text-align: left; color:crimson;">Odoo Implementation</p></li></a>
                    <a href="http://www.probuse.com/page/odoo-support" target="new"><li><p style="text-align: left; color:crimson;">Odoo Support</p></li></a>
                    <a href="http://www.probuse.com/page/odoo-customization" target="new"><li><p style="text-align: left; color:crimson;">Odoo Customization</p></li></a>
                    <a href="http://www.probuse.com/page/odoo-migration" target="new"><li><p style="text-align: left; color:crimson;">Odoo Migration</p></li></a>
                    <a href="http://www.probuse.com/page/odoo-training" target="new"><li><p style="text-align: left; color:crimson;">Odoo Training</p></li></a>
              </ul>
        </div>
    </div>
</section>
