<section class="oe_container">
	<div class="oe_row oe_spaced">
		<h2 class="oe_slogan">MuK Documents Attachment Rules</h2>
		<h3 class="oe_slogan">Storage Rules</h3>
		<h4 class="oe_slogan" style="font-size: 23px;">MuK IT GmbH -
			www.mukit.at</h4>
		<div class="oe_demo oe_screenshot">
			<img src="screenshot.png">
		</div>
	</div>
</section>

<section class="oe_container" style="padding-top: 5px;">
	<div class="oe_row oe_spaced">
		<div class="oe_picture">
			<h3 class="oe_slogan">Overview</h3>
			<p class="oe_mt32">MuK Documents Attachment allows to store Odoo
				Attachments inside the Document Management System. By creating rules
				attachments can be placed automatically in the right directory.</p>
		</div>
	</div>
</section>

<section class="oe_container oe_dark">
	<h3 class="oe_slogan">Help and Support</h3>
	<h5 class="oe_slogan" style="font-size: 20px;">You will get 30
		Days free support incase of any bugs or issues (Except data recovery).</h5>
	<div class="oe_slogan">
		<a class="btn btn-primary btn-lg mt8" href="mailto:sale@mukit.at">
			<i class="fa fa-envelope"></i> Email
		</a> <a class="btn btn-primary btn-lg mt8"
			href="https://mukit.at/page/contactus"> <i class="fa fa-phone"></i>
			Contact
		</a> <a class="btn btn-primary btn-lg mt8" href="mailto:support@mukit.at">
			<i class="fa fa-life-ring"></i> Support
		</a>
	</div>
	<img src="logo.png" style="width: 200px; margin-bottom: 20px;"
		class="center-block">
</section>