<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Step A: Set Employee Medical Limit</h2>
            <p class="oe_mt32 oe_centered" style="text-align: center">
                For Employee to be able to make medical requests, the medical limit field must have a value and this will be used against the employee anytime he/she makes a medical request
            </p>
        <div class="oe_row_img oe_centered oe_mt32">
            <img class="oe_picture oe_screenshot" src="employee_limit.png" height="950"/>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Step B: Set a Bank Account and Medical Account</h2>
            <p class="oe_mt32 oe_centered" style="text-align: center">
                When a request is paid or approved the account move to be raised will be dependent on the selected Bank and the Medical Account
            </p>
        <div class="oe_row_img oe_centered oe_mt32">
            <img class="oe_picture oe_screenshot" src="company_settings.png" height="950"/>
        </div>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Step C: Access Rights</h2>
            <p class="oe_mt32 oe_centered" style="text-align: center">
                For security reasons HR Department actions has to be hidden from the employee also the Finance action button has to be hidden from the HR Department and the employee. So for the process of request to continue. The right people should be exposed to the buttons
            </p>
        <div class="oe_row_img oe_centered oe_mt32">
            <img class="oe_picture oe_screenshot" src="access_right.png" height="950"/>
        </div>
    </div>
</section>


<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Step D: Make Medical Request</h2>
            <p class="oe_mt32 oe_centered" style="text-align: center">
                Once an employee makes a medical request, the employee as to explain what he/she need the request money for, the sum total of the medical issues will be seen and some approvals will be done.
                The first approval will be done by the HR Department, the last approval will be from the Finance which will trigger the paid button and an account move.
            </p>
        <div class="oe_row_img oe_centered oe_mt32">
            <img class="oe_picture oe_screenshot" src="employee_request.png" height="950"/>
        </div>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row">
       <div style="margin-bottom:10px;" class="oe_slogan text-center">
           <div class="oe_span12">
           <h3 class="text-center" style="font-size:20px">Contact us for support, query, customization</h3>
       </div>
           <span>
               <a target="new" href="http://www.theodooguy.com"><strong>Website</strong></a> |
               <a href="mailto:iammiracle@theodooguy.com"><strong>Write us</strong></a>
           </span>
       </div>
    </div>
</section>


<section class="oe_container oe_separator">
</section>
