<section class="oe_container">
	<div class="oe_row oe_spaced">
		<h2 class="oe_slogan">MuK Documents Attachment</h2>
		<h3 class="oe_slogan">Documents as Attachment Storage</h3>
		<h4 class="oe_slogan" style="font-size: 23px;">MuK IT GmbH -
			www.mukit.at</h4>
		<div class="oe_demo oe_screenshot">
			<img src="screenshot.png">
		</div>
	</div>
</section>

<section class="oe_container" style="padding-top: 5px;">
	<div class="oe_row oe_spaced">
		<div class="oe_picture">
			<h3 class="oe_slogan">Overview</h3>
			<p class="oe_mt32">MuK Documents is a module to create, manage
				and view files directly within Odoo. MuK Documents Attachment allows
				to store Odoo Attachments inside the Document Management System.</p>
		</div>
	</div>
</section>

<section class="oe_container oe_dark">
	<div class="oe_row oe_spaced">
		<h3 class="oe_slogan">Settings and Migration</h3>
		<div class="oe_span6">
			<img class="oe_picture oe_screenshot" src="screenshot_settings.png">
		</div>
		<div class="oe_span6">
			<p class="oe_mt32 text-justify">Set a directory, where
				attachments should be saved by default. In case you want to migrate
				just click the button "Force Storage Migration".</p>
		</div>
	</div>
</section>

<section class="oe_container">
	<div class="oe_row oe_spaced">
		<h3 class="oe_slogan">Attachment View</h3>
		<div class="oe_span6">
			<p class="oe_mt32 text-justify">A new view is provided to see all
				stored attachments. In case you want to migrate specific attachments,
				an action is provided via the "Action" menu.</p>
		</div>
		<div class="oe_span6">
			<img class="oe_picture oe_screenshot"
				src="screenshot_attachments.png">
		</div>
	</div>
</section>

<section class="oe_container oe_dark">
	<h3 class="oe_slogan">Help and Support</h3>
	<div class="oe_slogan">
		<a class="btn btn-primary btn-lg mt8" href="mailto:sale@mukit.at">
			<i class="fa fa-envelope"></i> Email
		</a> <a class="btn btn-primary btn-lg mt8"
			href="https://mukit.at/page/contactus"> <i class="fa fa-phone"></i>
			Contact
		</a>
	</div>
	<img src="logo.png" style="width: 200px; margin-bottom: 20px;"
		class="center-block">
</section>