<section class="oe_container oe_dark lead">
    <h2 class="oe_slogan text-primary text-center">Equipment Allocations</h2>
    <h3 class="oe_slogan text-primary text-center">Since allocation of equipment includes a process of multiple stages, therefore, it is very important for an organization to manage its resources. With the help of our module, Odoo Equipment Allocations employees can easily request for allocation of equipment. Also, allocation request mail will be sent to followers of that resource category and maintenance team.  </h3>
    <div class="row">
        <div class='col-12'>
            <div class="panel panel-primary" id="wkid0">
                <div class="panel-body">
                    <div class="alert alert-info">
                        <i class="fa fa-arrow-circle-o-right"></i>
                        <b> Basic Features </b>
                    </div>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-check text-primary"></i> Using this app employee can easily request for equipment allocation.
                        </li>
                        <li><i class="fa fa-check text-primary"></i> Introduce new group named 'Equipment' in Equipment Allocations.</li>
                        <li><i class="fa fa-check text-primary"></i> Equipments can be linked to the product.
                        </li>
                        <li><i class="fa fa-check text-primary"></i> Employees can request for equipment as 'on-demand' or 'permanent'.</li>
                        <li><i class="fa fa-check text-primary"></i> Restrict user to allocate the same equipment to multiple requests.</li>
                        <li><i class="fa fa-check text-primary"></i> Allocation request mail will be sent to the followers of the category and maintenance team.</li>
                        <li><i class="fa fa-check text-primary"></i> Equipment allocation request approval mail will be sent to the Requester of the request.</li>
                        <li><i class="fa fa-check text-primary"></i> Equipment user can cancel the allocation request of the employee.</li>
                        <li><i class="fa fa-check text-primary"></i> Manage purchase date and warranty period of the equipment.</li>
                        <li><i class="fa fa-check text-primary"></i> Permanently allocated equipment can be replaced at any time.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="oe_container  oe_dark">
    <div class="row">
        <div class='col-12'>
            <div class="panel ">
                <div class="panel-body">
                    <section class="oe_container  lead">
                        <div class="panel-heading alert alert-success"><i class="fa fa-hand-o-right"></i> <b>Equipment</b></div>
                        <a href="1.png">
                            <img class="img-border img-responsive thumbnail" src="1.png"/>
                        </a>
                    </section>
                    <section class="oe_container  lead">
                        <div class="panel-heading alert alert-success"><i class="fa fa-hand-o-right"></i> <b>Purchase Date and Warranty on Equipment</b></div>
                        <a href="2.png">
                            <img class="img-border img-responsive thumbnail" src="2.png"/>
                        </a>
                        <div>
                            <p class="bg-primary" style="padding:8px;font-weight: 300; font-size: 20px;"><i class="fa fa-plus-circle"></i> <b>About Purchase Date and Warranty Period:</b></p>
                            <ul class="list-unstyled ">
                                <li><i class="fa fa-check-circle-o" ></i> Set Purchase date for the Equipment.</li>
                                <li><i class="fa fa-check-circle-o" ></i> Set the Warranty duration (in the month) of the equipment, if exits.</li>
                                <li><i class="fa fa-check-circle-o" ></i> The automatically Expiry date of the equipment gets calculated.</li>

                            </ul>
                        </div>
                    </section>
                    <section class="oe_container  lead">
                        <div class="panel-heading alert alert-success"><i class="fa fa-hand-o-right"></i> <b>Link Equipment to the Product</b></div>
                        <a href="3.png">
                            <img class="img-border img-responsive thumbnail" src="3.png"/>
                        </a>
                    </section>
                    <section class="oe_container  lead">
                        <div class="panel-heading alert alert-success"><i class="fa fa-hand-o-right"></i><b> Equipment Status and Allocation Requests </b></div>
                        <a href="4.png">
                            <img class="img-border img-responsive thumbnail" src="4.png"/>
                        </a>
                    </section>
                    <section class="oe_container  lead">
                        <div class="panel-heading alert alert-success"><i class="fa fa-hand-o-right"></i><b> All Stockable Products </b></div>
                        <a href="5.png">
                            <img class="img-border img-responsive thumbnail" src="5.png"/>
                        </a>
                    </section>
                    <section class="oe_container  lead">
                        <div class="panel-heading alert alert-success"><i class="fa fa-hand-o-right"></i><b> Equipment Allocation Requests </b></div>
                        <a href="6.png">
                            <img class="img-border img-responsive thumbnail" src="6.png"/>
                        </a>
                    </section>
                    <section class="oe_container  lead">
                        <div class="panel-heading alert alert-success"><i class="fa fa-hand-o-right"></i><b> Message while allocating allocated equipment </b></div>
                        <a href="7.png">
                            <img class="img-border img-responsive thumbnail" src="7.png"/>
                        </a>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="oe_container  oe_dark">
    <div class="row">
        <div class='col-12'>
            <div class="panel ">
                <div class="panel-heading alert alert-info">
                    <h3 class="panel-title"><i class="fa fa-pencil-square-o "></i><b> Equipment Allocation Type </b></h3>
                </div>
                <div class="panel-body">
                    <div class="alert alert-warning"><i class="fa fa-arrow-circle-o-right"></i> <b>Types of equipment allocation</b></div>
                    <ul class="list-unstyled ">
                        <li><i class="fa fa-check text-primary"></i> On-demand Allocation</li>
                        <li><i class="fa fa-check text-primary"></i> Permanent Allocation</li>
                    </ul>
                    <section class="oe_container  lead">
                        <div class="panel ">
                            <div class="panel-heading ">
                                <h3 class="panel-title"><i class="fa fa-hand-o-right "></i><b> On-demand Allocation Request  </b></h3>
                            </div>
                            <div class="panel-body">
                                <div>
                                    <p class="bg-primary" style="padding:8px;font-weight: 300; font-size: 18px;"><i class="fa fa-plus-circle"></i> <b>About On-demand Allocations:</b></p>
                                    <p>Equipment gets available when needed. Employee request for equipment for a short or particular duration of time</p>
                                </div>
                                <section class="oe_container  lead">
                                    <div class="panel-heading alert alert-success"><i class="fa fa-hand-o-right"></i><b> Creation of on-demand Allocation Request </b></div>
                                    <a href="8.png">
                                        <img class="img-border img-responsive thumbnail" src="8.png"/>
                                    </a>
                                    <div>
                                        <p class="bg-primary" style="padding:8px;font-weight: 300; font-size: 20px;"><i class="fa fa-plus-circle"></i> <b>Users in 'Assigned To':</b></p>
                                        <ul class="list-unstyled ">
                                            <li><i class="fa fa-check-circle-o" ></i> In 'Assigned To' only users which are linked to an employee will display here.</li>
                                        </ul>
                                    </div>
                                </section>
                                <section class="oe_container  lead">
                                    <div class="panel-heading alert alert-success"><i class="fa fa-hand-o-right"></i><b>Allocation Request Mail </b></div>
                                    <a href="9.png">
                                        <img class="img-border img-responsive thumbnail" src="9.png"/>
                                    </a>
                                </section>
                                <section class="oe_container  lead">
                                    <div class="panel-heading alert alert-success"><i class="fa fa-hand-o-right"></i><b> Approve Allocation Request  </b></div>
                                    <a href="10.png">
                                        <img class="img-border img-responsive thumbnail" src="10.png"/>
                                    </a>
                                    <div>
                                        <p class="bg-primary" style="padding:8px;font-weight: 300; font-size: 20px;"><i class="fa fa-plus-circle"></i> <b>Warning Message:</b></p>
                                        <ul class="list-unstyled ">
                                            <li><i class="fa fa-check-circle-o" ></i> If <b>Equipment</b> is not set in an allocation request, then a warning message has been raised.</li>
                                        </ul>
                                    </div>
                                </section>
                                <section class="oe_container  lead">
                                    <div class="panel-heading alert alert-success"><i class="fa fa-hand-o-right"></i><b> Approved Allocation Request  </b></div>
                                    <a href="11.png">
                                        <img class="img-border img-responsive thumbnail" src="11.png"/>
                                    </a>
                                </section>
                                <section class="oe_container  lead">
                                    <div class="panel-heading alert alert-success"><i class="fa fa-hand-o-right"></i><b>Allocation Approval Mail </b></div>
                                    <a href="12.png">
                                        <img class="img-border img-responsive thumbnail" src="12.png"/>
                                    </a>
                                </section>
                                <section class="oe_container  lead">
                                    <div class="panel-heading alert alert-success"><i class="fa fa-hand-o-right"></i><b>Equipment Allocation Mail </b></div>
                                    <a href="13.png">
                                        <img class="img-border img-responsive thumbnail" src="13.png"/>
                                    </a>
                                </section>
                                <section class="oe_container  lead">
                                    <div class="panel-heading alert alert-success"><i class="fa fa-hand-o-right"></i><b>Returned Equipment </b></div>
                                    <a href="14.png">
                                        <img class="img-border img-responsive thumbnail" src="14.png"/>
                                    </a>
                                </section>
                                <section class="oe_container  lead">
                                    <div class="panel-heading alert alert-success"><i class="fa fa-hand-o-right"></i><b> Cancel Allocation Request with Reason </b></div>
                                    <a href="15.png">
                                        <img class="img-border img-responsive thumbnail" src="15.png"/>
                                    </a>
                                </section>
                                <section class="oe_container  lead">
                                    <div class="panel-heading alert alert-success"><i class="fa fa-hand-o-right"></i><b> Cancelled Allocation Request  </b></div>
                                    <a href="16.png">
                                        <img class="img-border img-responsive thumbnail" src="16.png"/>
                                    </a>
                                </section>
                                <section class="oe_container  lead">
                                    <div class="panel-heading alert alert-success"><i class="fa fa-hand-o-right"></i><b>Allocation Cancellation Mail </b></div>
                                    <a href="17.png">
                                        <img class="img-border img-responsive thumbnail" src="17.png"/>
                                    </a>
                                </section>

                                <section class="oe_container  lead">
                                    <div class="panel-heading alert alert-success"><i class="fa fa-hand-o-right"></i><b>Allocated Equipment </b></div>
                                    <a href="18.png">
                                        <img class="img-border img-responsive thumbnail" src="18.png"/>
                                    </a>
                                </section>
                            </div>
                        </div>
                    </section>
                    <section class="oe_container  lead">
                        <div class="panel ">
                            <div class="panel-heading alert alert-info">
                                <h3 class="panel-title"><i class="fa fa-hand-o-right "></i><b> Permanent Allocation Request  </b></h3>
                            </div>
                            <div class="panel-body">
                                <div>
                                    <p class="bg-primary" style="padding:8px;font-weight: 300; font-size: 18px;"><i class="fa fa-plus-circle"></i> <b>About Permanent Allocations:</b></p>
                                    <p>The Equipment gets permanently allocated to the employee</p>
                                </div>
                                <section class="oe_container  lead">
                                    <div class="panel-heading alert alert-success"><i class="fa fa-hand-o-right"></i><b> Creation of Permanent Allocation Request </b></div>
                                    <a href="19.png">
                                        <img class="img-border img-responsive thumbnail" src="19.png"/>
                                    </a>
                                </section>
                                <section class="oe_container  lead">
                                    <div class="panel-heading alert alert-success"><i class="fa fa-hand-o-right"></i><b> Equipment Allocated  </b></div>
                                    <a href="20.png">
                                        <img class="img-border img-responsive thumbnail" src="20.png"/>
                                    </a>
                                </section>
                                <section class="oe_container  lead">
                                    <div class="panel-heading alert alert-success"><i class="fa fa-hand-o-right"></i><b>Equipment Allocation Mail </b></div>
                                    <a href="21.png">
                                        <img class="img-border img-responsive thumbnail" src="21.png"/>
                                    </a>
                                </section>
                                <section class="oe_container  lead">
                                    <div class="panel-heading alert alert-success"><i class="fa fa-hand-o-right"></i><b> Replace Equipment with Reason </b></div>
                                    <a href="22.png">
                                        <img class="img-border img-responsive thumbnail" src="22.png"/>
                                    </a>
                                </section>
                                <section class="oe_container  lead">
                                    <div class="panel-heading alert alert-success"><i class="fa fa-hand-o-right"></i><b> Replace Equipment  </b></div>
                                    <a href="23.png">
                                        <img class="img-border img-responsive thumbnail" src="23.png"/>
                                    </a>
                                </section>
                                <section class="oe_container  lead">
                                    <div class="panel-heading alert alert-success"><i class="fa fa-hand-o-right"></i><b>Equipment Replacement Mail </b></div>
                                    <a href="24.png">
                                        <img class="img-border img-responsive thumbnail" src="24.png"/>
                                    </a>
                                </section>
                                <section class="oe_container  lead">
                                    <div class="panel-heading alert alert-success"><i class="fa fa-hand-o-right"></i><b> Returned Equipment with confirmation </b></div>
                                    <a href="25.png">
                                        <img class="img-border img-responsive thumbnail" src="25.png">
                                    </a>
                                </section>
                                <section class="oe_container  lead">
                                    <div class="panel-heading alert alert-success"><i class="fa fa-hand-o-right"></i><b> Returned Equipment </b></div>
                                    <a href="26.png">
                                        <img class="img-border img-responsive thumbnail" src="26.png"/>
                                    </a>
                                </section>
                                <section class="oe_container  lead">
                                    <div class="panel-heading alert alert-success"><i class="fa fa-hand-o-right"></i><b> Cancel Allocation Request with Reason </b></div>
                                    <a href="27.png">
                                        <img class="img-border img-responsive thumbnail" src="27.png"/>
                                    </a>
                                </section>
                                <section class="oe_container  lead">
                                    <div class="panel-heading alert alert-success"><i class="fa fa-hand-o-right"></i><b> Cancelled Allocation Request  </b></div>
                                    <a href="28.png">
                                        <img class="img-border img-responsive thumbnail" src="28.png"/>
                                    </a>
                                </section>
                                <section class="oe_container  lead">
                                    <div class="panel-heading alert alert-success"><i class="fa fa-hand-o-right"></i><b> Permanently Allocated Equipment </b></div>
                                    <a href="29.png">
                                        <img class="img-border img-responsive thumbnail" src="29.png"/>
                                    </a>
                                </section>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>


<section class='oe_container oe_dark'>
    <div class=''>
    <div class="col-12">
        <h2 class='oe_slogan'>Complimentary Support</h2>
            <p>
                You will get 90 days free support for any doubt, queries, and bug fixing (excluding data recovery) or any type of issue related to this module.
            </p>
        </div>
    </div>
    <div class="row oe_spaced">
        <div class="col-12">
            <h2 class="oe_slogan">Help and Support</h2>
        </div>
         <div class="oe_slogan oe_spaced col-12">
            <img src="icon-help.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
   onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="https://webkul.uvdesk.com/en/customer/create-ticket">Help</a></span>
            <img src="icon-support.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
   onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="https://webkul.uvdesk.com/en/customer/create-ticket">Support</a></span>
            <img src="icon-features.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
   onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="https://webkul.uvdesk.com/en/customer/create-ticket">Request new Features</a></span>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="col-12">
        <!-- Piwik Image Tracker-->
<img src="http://odooimg.webkul.com/analytics/piwik/piwik.php?idsite=3&rec=1&action_name=EQUIPMENT-ALLOCATIONS&url=https://apps.openerp.com/apps/modules/11.0/equipment_allocations&uid=equipment_allocations" style="border:0" alt="" />
<!-- End Piwik -->
    </div>
</section>
	